<!DOCTYPE html>
<html>
<head>
<style>
           @font-face {
              font-family: 'Adobe';
               src: url('AdobeFanHeitiStd-Bold.otf') format('oft');
              
             }
        

	       
	    
  
	.Start {
	        color:#FFFFFF;
			background-image: url("resume.jpg");
            background-size: 2308px 600px;
            background-repeat: repeat-x; 
			font-size: 300%;
			margin:0px;
			padding:20px;
		    font-family:"lucida Sans Unicode","Arial Black",sans-serif;
			background-color:#FFFFFF;
			text-align:center;
			
			}

	.GuideBar {
            background-color:rgb(83,71,65);
			color: #FFFFFF;
		     font-family:"Arial Black","lucida Sans Unicode",sans-serif;
			font-size: 100%;
			position:relative;
			text-align: right;
			text-transform: uppercase;
			}
    .Side1{
	        float:left;
           	background-color:rgb(199,178,153);
            width:50px;
			height:2500px;
			
           }
		   
	    .Side2{
	        float:right;
	        background-color:rgb(199,178,153);
             width:70px;
            height:2500px;
           }	   
     
   
     
	
	.Ab {
	        font-size:400%;
		    background:url("line.png");
            background-size:1300px 27px; 
		    background-repeat: repeat-x; 
		    background-position:bottom;
			font-family: 'Brush Script MT', cursive;
			margin-left:30px;
			margin-right:30px;
			
			
			
        }		 
 
	
	.About {
           
  		  
			font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
			font-size:200%;
			height:250px;
			width:1500px;
            padding:0px;	
            text-align:left;	
		   	margin-left:30px;
			margin-right:30px;
			text-align:center;
			
			

		    }
			
		
	.Ed {

       
         
            font-size:400%;
		    background:url("line.png");
             background-size:1300px 27px; 
		    background-repeat: repeat-x; 
		    background-position:bottom;
          font-family: 'Brush Script MT', cursive;
		 	margin-left:30px;
			margin-right:30px;
        }	
			
			
			
 	.Education {
            
		
            
			font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
			font-size:200%;
			height:250px;
			width:1500px;
            padding:0px;
           	margin-left:30px;
			margin-right:30px;
				text-align:center;
	
			
		    }
  .Sk  {
  
            font-size:400%;
		     background:url("line.png");
            background-size:1300px 27px; 
		    background-repeat: repeat-x; 
		    background-position:bottom;
         font-family: 'Brush Script MT', cursive;
     	    margin-left:30px;
			margin-right:30px;
	   
	   }
	
	
	
	
	.Skills {
           
		
			
			font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
			font-size:200%;
			height:250px;
			width:1500px;
            padding:0px;
          	margin-left:30px;
			margin-right:30px;
				text-align:center;
		   
		    }
			
	.Pr{

	
	font-size:400%;
		    background:url("line.png");
             background-size:1273px 27px; 
		    background-repeat: repeat-x; 
		    background-position:bottom;
	      font-family: 'Brush Script MT', cursive;
	       	margin-left:30px;
			margin-right:30px;
			}
	
	.Projects {
          
            margin-top:0px;
		    margin-bottom:0px;
			 
			font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
			font-size:200%;
			height:250px;
			width:1500px;
            padding:0px;	 
		    	margin-left:30px;
			margin-right:30px;
				text-align:center;
			}
			
			

	
			
			
			
	

 
</style>

</head>
<body>
</body>
</html>
